.browse-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    justify-items: center;
    align-items: stretch;
    margin-bottom: 50px;
}

.browse-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media(max-width: 900px) {
    .browse-wrap{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }

    .browse-top {
        text-align: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
}

