.browse-wrap {
    display: grid;
    grid-template: "a b c";
    column-gap: 70px;
    row-gap: 50px;
    justify-items: center;
}

.browse-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media(max-width: 1024px) {
    .browse-wrap{
        grid-template: "a b";
        column-gap: 20px;
    }
}

