.auth-forms {
    display: grid;
    grid-template-rows: "a";
    row-gap: 20px;
    min-width: 280px;
    max-width: 350px;
    margin-bottom: 30px;
}

.auth-input {
    width: auto !important;
}

.auth_form {
    display: grid;
    grid-template-columns: 40px 1fr;
}

.auth-buttons {
    display: flex;
    justify-content: space-between;
}

.auth-notifications {
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    color: transparent;
    transition: all 1s ease;
}

.auth-notifications.error {
    background-color: rgb(250, 145, 126);
    color: inherit;
}

.auth-notifications.registered {
    background-color: rgba(255, 253, 144, 0.959);
    color: inherit;
}

.auth-input-pre {
    width: 40px;
    background-color: rgb(154, 93, 214);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    border-radius: 10px 0px 0 10px;
}