.wareImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin: 0;
}

.ware {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
}

.ware-pricename-grid {
    height: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 100%;

}

.ware-pricename-name {

}

.ware-buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
    min-width: 60px;
}

@media(max-width: 700px) {
    .wareImage {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin: 0;
    }
    .ware {
        
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        padding: 20px 20px;
        justify-content: space-between;
    }

    .ware-pricename-grid {
        display: flex;
        flex-direction: column;
    }
    
}

@media(max-width: 500px) {

    .ware {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        padding: 20px 20px;
        justify-content: space-between;
    }

    .ware-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    
}