.wareImage {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.ware {
    align-items: center;
}

.price {
    position: relative;
    padding: 15px 15px;
    background-color: #9FFF24;
    color: #484848 ;
    margin-top: -88px;
    width: 150px;
    font-size: 28px;
}